<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
        <meta charset="utf-8">
        <title>Travel App</title>
        <link rel="stylesheet" href="/styles/resets.scss">
        <link rel="stylesheet" href="/styles/base.scss">
        <link rel="stylesheet" href="/styles/header.scss">
        <link rel="stylesheet" href="/styles/form.scss">
        <link rel="stylesheet" href="/styles/footer.scss">
</head>

    <body>

<!--
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="userText" type="text" name="input" value="" placeholder="Enter text to be analyzed">
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            <section>
-->
    <div id="title" style="font-family:'Krona One'" >
        <h1>Travel Planning App</h1>
    </div>

    <div id="intro">Welcome to the Travel Planning app! This app is designed to give you information on your upcoming travel including forcast weather and a view of the location you'll be traveling to. Please enter the destination city and date you intend to arrive in the fields below.</div>

    <div id="userInput">
        <form onSubmit="return Client.handleSubmit(event)">
        <div id="inputFields">
            <div id="userLoc">
                <h2>Location:</h2>
                <input id="userLocText" class="userTextBox" type="text" name="Location" placeholder="Please enter your destination city">
            </div>
            <div id="userDate">
                <h2>Date:</h2>
                <input id="userDateText" class="userTextBox" type="text" name="Date" placeholder="Please enter the date you intend to arrive">
            </div>
        </div> <!-- end of inputFields div -->
        <div id="submitButton">
            <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
        </div> <!-- End of submitButton div -->
        </form>
    </div> <!-- end of userInput div -->

    <div id="apiData">
        <div id="photo"><img src="IMG_8936.jpg" alt="location photo"></div>
        <div id="dispMain">
            <div class="displayBox">
                <h1>Location:&nbsp</h1>
                <div id="dispLoc"></div>
            </div>
            <div class="displayBox">
                <h1>Arrival Date:&nbsp</h1>
                <div id="dispDate"></div>
            </div>
            <div class="displayBox">
                <div id="dispCountdown"></div>
            </div>
            <div class="displayBox">
                <h1>Weather:&nbsp</h1>
                <div id="dispWeath"></div>
            </div>
        </div>
</div> <!-- End of apiData div -->


        <script>
         if ('serviceWorker' in navigator) {
             window.addEventListener('load', () => {
                 navigator.serviceWorker.register('/service-worker.js');
             });
         }
        </script>

    </body>
</html>
