<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Krona+One">
        <meta charset="utf-8">
        <title>Travel App</title>
        <link rel="stylesheet" href="/styles/resets.scss">
        <link rel="stylesheet" href="/styles/base.scss">
        <link rel="stylesheet" href="/styles/header.scss">
        <link rel="stylesheet" href="/styles/form.scss">
        <link rel="stylesheet" href="/styles/footer.scss">
</head>

    <body>

<!--
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="userText" type="text" name="input" value="" placeholder="Enter text to be analyzed">
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            <section>
-->
    <div id="title" style="font-family:'Krona One'" >
        <h1>Travel Planning App</h1>
    </div>

    <div id="intro">Maecenas sed nulla eros. Donec arcu quam, eleifend in porttitor sed, venenatis id magna. Suspendisse et malesuada turpis. Nunc ut malesuada nisi. Mauris ut vestibulum mi. Quisque tempor, quam sit amet laoreet fringilla, ligula tortor mollis arcu, quis porttitor lectus lectus sed nunc. Donec sed arcu id ex rhoncus aliquam sed in arcu. Duis pulvinar neque sit amet imperdiet placerat.</div>

    <div id="userInput">
        <!-- <form onSubmit="return Client.handleSubmit(event)"> -->
        <div id="userLoc">
            <h2>Location:</h2>
            <input id="userLocText" class="userTextBox" type="text" name="Location" placeholder="Please enter your destination city">
        </div>
        <div id="userDate">
            <h2>Date:</h2>
            <input id="userDateText" class="userTextBox" type="text" name="Date" placeholder="Please enter the date you intend to arrive">
        </div>
    <!-- </form> -->
    </div>
    <!-- <div id="photo"><img src="IMG_8936.jpg" alt="location photo"></div>
    <div id="dispMain">
        <div>
            <h2>Location:</h2>
            <div id="dispLoc"></div>
        </div>
        <div>
            <h2>Date:</h2>
            <div id="dispDate"></div>
        </div>
        <div>
            <h2>Location:</h2>
            <div id="dispWeath"></div>
        </div>
    </div> -->



        <script>
         if ('serviceWorker' in navigator) {
             window.addEventListener('load', () => {
                 navigator.serviceWorker.register('/service-worker.js');
             });
         }
        </script>

    </body>
</html>
