//import Google fonts
// @import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css?family=Krona+One');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

//color variables
$mainBlue: #748CAB;	// Main Primary color */
$lightestBlue: #D5DEEA;
$blueGray: #A5B7CD;
$darkerBlue: #4D6B90;
$titleBlue: #2D4C73;
$light-gray: #DDDDDD;

//font variables
$title-text: 'Krona One', sans-serif;
$body-text: 'Roboto', sans-serif;


%dispBox {
    background-color: $blueGray;
    margin: 0px 10px;
    padding: 10px;
    width: 45%;
}

%resultsDisp {
    background-color: $lightestBlue;
    padding: 5px 10px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: $body-text;
}

form {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 0;
    padding: 0;
}

h1{
    font-family: $lightestBlue;
}

#title{
    display: flex;
    flex-direction: row;
    margin: 10px 0px;
    padding: 20px;
    align-items: center;
    font-weight: bold;
    background-color: $titleBlue;
    color: $lightestBlue;
    font-family: $title-text;
}

#intro {
    @extend %dispBox;
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 0px 20px;
    padding: 5px;
    background-color: $blueGray;
}

#inputFields {
    display: flex;
    flex-direction: row;
}

#userInput{
    display: flex;
    flex-direction: row;
    width: 95%;
    margin: 5px auto;
}

#submitButton {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#apiData {
    display: flex;
    flex-direction: row;
    width: 95%;
    margin: 5px auto;
}
#photo{
    @extend %dispBox;
    display: flex;
    flex-direction: column;
}

#dispMain{
    @extend %dispBox;
    display: flex;
    flex-direction: column;
    h1 {
        font-size: 1.5em;
    }
}
.userInputField {
    @extend %dispBox;
    display: flex;
    flex-direction: column;
}

.userTextBox {
    background-color: $light-gray;
}

.displayBox {
    @extend %resultsDisp;
    display: flex;
    flex-direction: row;
}

.weatherDisplayBox {
    @extend %resultsDisp;
    background-color: $lightestBlue;
    display: row;
}
.weatherIcon{
    float: right;
    height: 50px;
    margin-right:30px;
}

.weatherData {
    margin: 10px 0px 10px 20px;
    line-height: 150%;
}

.textLabel{

}
